.getlocation-btn-10 {
  @extend .btn;
  @extend .btn-success;
  margin: 10px;
}

.getlocation-input-div {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  -webkit-align-items: center; /* Safari 7.0+ */
  align-items: center;
  max-width: 300px;
  -webkit-align-self: flex-end;
  align-self: flex-end;
}